.weatherlayers-tooltip-control {
  margin: 10px;
  pointer-events: auto; /* force controls to be clickable when added as Mapbox/MapLibre control */
}
.weatherlayers-tooltip-control > div {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  padding: 0 5px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.75);
  white-space: nowrap;
}

.weatherlayers-tooltip-control.follow-cursor {
  position: absolute;
  margin: 0;
  pointer-events: none;
}
.weatherlayers-tooltip-control.follow-cursor::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -5px;
  left: calc(50% - 5px);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(255, 255, 255, 0.5); /* same color as background */
}

.weatherlayers-tooltip-control .weatherlayers-tooltip-control__direction {
  margin-left: 6px;
}
.weatherlayers-tooltip-control .weatherlayers-tooltip-control__direction-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  background: no-repeat center / contain;
  background-image: inline('./arrow-circle-down.svg');
  margin-top: -1px;
  margin-right: 4px;
  opacity: 0.75; /* same opacity as text */
}

.weatherlayers-tooltip-control:not(.has-value) {
  display: none;
}
.weatherlayers-tooltip-control:not(.has-direction) .weatherlayers-tooltip-control__direction {
  display: none;
}