.weatherlayers-timeline-control {
  margin: 10px;
}
.weatherlayers-timeline-control > div {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  width: calc(100% - 2 * 10px);
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.75);
}
.weatherlayers-timeline-control a {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: no-repeat center / contain;
}
.weatherlayers-timeline-control a.play {
  background-image: inline('./play.svg');
}
.weatherlayers-timeline-control a.pause {
  background-image: inline('./pause.svg');
}
.weatherlayers-timeline-control input {
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 0;
}
.weatherlayers-timeline-control span {
  display: block;
  margin-left: 26px;
  text-align: center;
}

.weatherlayers-timeline-control.loading * {
  cursor: wait;
}
.weatherlayers-timeline-control.loading a {
  opacity: 0.2;
}
.weatherlayers-timeline-control.loading span {
  opacity: 0.5;
}