
body {
  margin: 0;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
  background: rgb(41, 41, 41);
}
#container {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
}
#arcgis, #leaflet, #google-maps, #mapbox, #maplibre, #deck {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body.arcgis #deck, body.google-maps #deck, body.mapbox #deck, body.maplibre #deck {
  pointer-events: none;
}
#leaflet {
  background: transparent !important;
}
#top-left {
  position: absolute;
  top: 0;
  left: 0;
}
#bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
#bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}
body.arcgis #bottom-left, body.arcgis #bottom-right {
  bottom: calc(16px + 2px);
}
body.mapbox #bottom-left {
  bottom: calc(29px + 2px);
}
body.mapbox #bottom-right, body.maplibre #bottom-right {
  bottom: calc(20px + 2px);
}
body.google-maps #bottom-left {
  bottom: calc(26px + 2px);
}
body.google-maps #bottom-right {
  bottom: calc(14px + 2px);
}

:root {
  --tp-font-family: 'Lucida Grande', sans-serif;
  --tp-base-background-color: #1a1a1a;
  --tp-container-foreground-color: #eeeeee;
  --tp-container-background-color: #000000;
  --tp-container-background-color-active: #000000;
  --tp-container-background-color-focus: #000000;
  --tp-container-background-color-hover: #000000;
  --tp-input-foreground-color: #eeeeee;
  --tp-label-foreground-color: #eeeeee;
}
.tp-dfwv {
  width: 300px !important;
  max-height: 100vh;
  overflow: auto;
}