
body {
    margin: 0;
    font-family: 'Lucida Grande', sans-serif;
    font-size: 12px;
    background: rgb(41, 41, 41);
}
#container {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 0;
}
#canvas, #mapbox, #google-maps, #arcgis, #leaflet, #deck {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#mapbox + #deck, #google-maps + #deck, #arcgis + #deck {
    pointer-events: none;
}
#leaflet, #google-maps > div {
    background: transparent !important;
}
#google-maps > div:nth-child(2) {
    display: none;
}
#info {
    position: absolute;
    top: 0;
    left: 15px;
    min-width: 250px;
}
#info1, #info2 {
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.5);
    color: #eee;
    backdrop-filter: blur(1px);
}
#info1:empty, #info2:empty {
    display: none;
}
#info2 {
    margin-top: 4px;
}
.grid-2 {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.4ex; /* space */
}
.grid-4 {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.4ex; /* space */
}
body > .legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.cr.function .property-name {
    width: auto;
}
.cr.function .c {
    display: none;
}