
body {
  margin: 0;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
  background: rgb(41, 41, 41);
}
#container {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
}
#arcgis, #leaflet, #google-maps, #mapbox, #deck {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body.arcgis #deck, body.google-maps #deck, body.mapbox #deck {
  pointer-events: none;
}
#leaflet, #google-maps > div {
  background: transparent !important;
}
#google-maps > div:nth-child(2) {
  display: none;
}
#top-left {
  position: absolute;
  top: 0;
  left: 0;
}
#bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
#bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}
body.arcgis #bottom-left, body.arcgis #bottom-right {
  bottom: calc(16px + 2px);
}
body.mapbox #bottom-left {
  bottom: calc(29px + 2px);
}
body.mapbox #bottom-right {
  bottom: calc(20px + 2px);
}
body.google-maps #bottom-left {
  bottom: calc(26px + 2px);
}
body.google-maps #bottom-right {
  bottom: calc(14px + 2px);
}
.cr.string a {
  color: white;
  text-decoration: none;
}
.cr.function .property-name {
  width: auto;
}
.cr.function .c {
  display: none;
}