
body {
  margin: 0;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
  background: rgb(41, 41, 41);
}
#container {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
}
#arcgis, #cesium, #leaflet, #openlayers, #google-maps, #mapbox, #maplibre, #deck {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#leaflet {
  background: transparent !important;
}
#openlayers {
  cursor: grab;
}
#top-left {
  position: absolute;
  top: 0;
  left: 0;
}
#bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
#bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}
body.arcgis #bottom-left, body.arcgis #bottom-right {
  bottom: calc(16px + 2px);
}
body.cesium #bottom-left {
  bottom: calc(28px + 2px);
}
body.mapbox #bottom-left {
  bottom: calc(29px + 2px);
}
body.mapbox #bottom-right, body.maplibre #bottom-right {
  bottom: calc(20px + 2px);
}
body.google-maps #bottom-left {
  bottom: calc(26px + 2px);
}
body.google-maps #bottom-right {
  bottom: calc(14px + 2px);
}
.cesium-viewer-toolbar {
  right: calc(300px + 5px + 5px);
}
#maptiler-logo {
  margin: 10px;
}

:root {
  --tp-base-font-family: 'Lucida Grande', sans-serif;
  --tp-base-background-color: #111111;
  --tp-container-foreground-color: #eeeeee;
  --tp-container-background-color: #000000;
  --tp-container-background-color-active: #000000;
  --tp-container-background-color-focus: #000000;
  --tp-container-background-color-hover: #000000;
  --tp-input-foreground-color: #eeeeee;
  --tp-input-background-color: #333333;
  --tp-input-background-color-active: #333333;
  --tp-input-background-color-focus: #333333;
  --tp-input-background-color-hover: #333333;
  --tp-label-foreground-color: #eeeeee;
  --tp-blade-value-width: 200px;
}
.tp-dfwv {
  width: 340px !important;
  max-height: calc(100vh - 94.5px - 2 * 8px);
  overflow-y: auto;
  -webkit-mask-image: linear-gradient(to bottom, black 99%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 99%, transparent 100%);
}