.weatherlayers-attribution-control {
  margin-top: 2px;
  pointer-events: auto; /* force controls to be clickable when added as MapLibre/Mapbox control */
}
.weatherlayers-attribution-control > div {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  padding: 0 5px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.75);
}
.weatherlayers-attribution-control a {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
.weatherlayers-attribution-control a:hover {
  text-decoration: underline;
}